
<h1 id="header"> Wallet History List </h1>

<a href="/Wallet/Create" class="btn btn-outline-success">Register Wallet User</a>
<a href="/Wallet/Deposit" class="btn btn-outline-success">Deposit</a>
<a href="/Wallet/Withdraw" class="btn btn-outline-success">Withdraw</a>
<a href="/Wallet/History" class="btn btn-outline-success">Wallet History List</a>
<a href="/Wallet/Transaction" class="btn btn-outline-success">Transaction</a>
<a href="/Wallet/TransactionHistory" class="btn btn-outline-success">Transaction History List</a>
<table class="table table-responsive">
	<thead>
		<tr>
			<th>No.</th>
			<th>WalletUserName</th>
			<th>FullName</th>
			<th>MobileNo</th>
			<th>Balance</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<a href="/Wallet/Edit/" class="btn btn-outline-warning">Edit</a>
					<a href="/Wallet/Delete/" class="btn btn-outline-danger">Delete</a>
				</td>
			</tr>
	</tbody>
</table>

@section scripts {
	<script>
		alert("This is Wallet List Page")
		$('#header').html('Gay');
	</script>
}
