@{
    bool isSuccess = Convert.ToBoolean(TempData["isSuccess"] ?? false);
    string message = Convert.ToString(TempData["message"] ?? string.Empty);
}
@if (!string.IsNullOrEmpty(message))
{
    <div id="alert" class="alert alert-@(isSuccess ? "success" : "danger")" role="alert">
        @message
    </div>
}
<h1>Edit Student</h1>
@model StudentModel
<form method="post" action="/Student/Create">
    <div class="mb-3">
        <label for="walletUsername" class="form-label">Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" id="Name">

        <label for="walletUsername" class="form-label">Roll No</label>
        <input name="RollNo" value="@Model.RollNo" class="form-control" id="Name">

        <label for="walletUsername" class="form-label">Age</label>
        <input type="text" name="Age" value="@Model.Age" class="form-control" id="Name">
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2">Update</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</form>


